<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="openMRSAutomation regression test suite"  parallel="tests" thread-count="2" verbose="1" >

    <listeners>
        <listener class-name="com.openmrs.testlistenners.ExtentReportListener"></listener>
    </listeners>

    <test name="login page Test">
        <classes>
            <class name="com.openmrs.tests.LoginPageTest"/>
        </classes>
    </test>

    <test name="admin dashBoard page Test">
        <classes>
            <class name="com.openmrs.tests.AdminDashBoardPageTest"/>
        </classes>
    </test>

    <test name="register patient page Test">
        <classes>
            <class name="com.openmrs.tests.RegisterPatientPageTest"/>
        </classes>
    </test>

    <test name="patient page Test">
        <classes>
            <class name="com.openmrs.tests.PatientPageTest"/>
        </classes>
    </test>

    <test name="find patient record page Test">
        <classes>
            <class name="com.openmrs.tests.FindPatientRecordPageTest"/>
        </classes>
    </test>

</suite>